body {
  font: "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  top: 15%;
   background: linear-gradient(to right, #b2fefa, #0ed2f7); /* Standard syntax */
}

h1 {
  font: 600 3.5em "Raleway", sans-serif;
  color: #680b8a;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  width: 100%;
}

h3 {
  font: 900 1em "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100% !important;
  text-align: center;
  background-color: #824c96;
  color: #d8c7df;
  letter-spacing: 0.1em;
  text-transform: none;
}

a {
    text-decoration: none;
}

.random {
  background-color: wheat;
}
